<p>The URL for your RStudio instance is:</p>

<p><a target="_instance" href="<%= url %>"><%= url %></a></p>


<p>(It may take a moment for the instance to be ready.)</p>

<p>Please only use this instance.</p>

<p>Log in with:</p>

<br>Username: <b>ubuntu</b></br>
<br>Password: <b>bioc</b></br>

<p>This instance will be shut down at 11:55PM on <%= enddate %>.</p>