<p>The URL for your RStudio instance is:</p>

<p><a target="_instance" href="<%= url %>"><%= url %></a></p>


<p><b><span style="color:red">IMPORTANT NOTE:</span></b>
  It may take a few moments for the instance to be ready. If you get an error when you first click
the link, wait a minute and reload the page. Do this until the RStudio login screen comes up. The RStudio
launch may also take a few seconds, if you are prompted please choose 'wait for RStudio'.</p>

<p>Please only use this instance; It has been generated specially for you.</p>

<br>
<br>
<p>Log in to RStudio with:</p>
<br>Username: <b>ubuntu</b></br>
<br>Password: <b>bioc</b></br>

<br>
<p>This instance will be shut down at 11:55PM on <%= enddate %>.</p>

