<p>The URL for your RStudio instance is:</p>

<p><a target="_instance" href="<%= url %>"><%= url %></a></p>


<p><b><span style="color:red">IMPORTANT NOTE:</span></b>
  It may take a moment for the instance to be ready. If you get an error when you first click
the link, wait a few seconds and reload the page. Do this until the RStudio login screen comes up.</p>

<p>Please only use this instance.</p>

<p>For RStudio, log in with:</p>

<br>Username: <b>ubuntu</b></br>
<br>Password: <b>bioc</b></br>


<p>This instance will be shut down at 11:55PM on <%= enddate %>.</p>
